:root {
  --primary-color: #007bff;
  --secondary-color: #023020;
}

body {
  background-color: var(--primary-color);
}

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

button[type="submit"] {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

